<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>George Alexander Portfolio</title>

    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

    <style type="text/css">
      header {
  position: relative;
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background-color: #337ab7;
  z-index: 1;
}

  .list-group-item.active {
    background-color: #337ab7!important;
}
    </style>

  </head>
  <body>
    <header id="top">
  <div class="overlay">

  </div>
  <div class="container h-100">

    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white main-text">
        <img class="background-img" src="" alt="">
        <h1 class="display-3"></h1>
        <p class="lead mb-0">Portfolio</p>
      </div>
      <div class="down">
          <a class="ct-btn-scroll ct-js-btn-scroll" href="#documentation"><img alt="Arrow Down Icon" src="https://www.solodev.com/assets/anchor/arrow-down.png"></a>
      </div>
    </div>
  </div>
</header>

<div class="item-container">
  <div class="box-item">
    <a href="theta.html">
   <div class="text">
              <!-- text goes here -->
        </div>
  <img src="https://via.placeholder.com/540x548" alt="" width="540" height="548">

  <div class="item-overlay top"></div>
        </a>
</div>



<div class="box-item">
    <a href="polytech-volunteering-website.html">
   <div class="text">
            <!-- text goes here -->
        </div>
  <img src="https://via.placeholder.com/540x548" alt="" width="540" height="548">

  <div class="item-overlay top"></div>
        </a>
</div>



<div class="box-item">
    <a href="polytech-bit.html">
   <div class="text">
            <!-- text goes here -->
        </div>
  <img src="https://via.placeholder.com/540x548" alt="" width="540" height="548">

  <div class="item-overlay top"></div>
         </a>
</div>



</div>

<div class="container">
  <h2>Professional Development</h2>
  <br>
  <h4>CodeCraft May Meetup</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non egestas diam, non tempus ante. Quisque posuere risus at massa placerat maximus. Maecenas facilisis nibh orci, at semper ex finibus in. Vivamus ex neque, vehicula congue maximus vitae, tempor viverra nulla. Duis feugiat mauris et neque efficitur imperdiet.</p>

  <hr>
<h2>External Engagement</h2>
<h4></h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non egestas diam, non tempus ante. Quisque posuere risus at massa placerat maximus. Maecenas facilisis nibh orci, at semper ex finibus in. Vivamus ex neque, vehicula congue maximus vitae, tempor viverra nulla. Duis feugiat mauris et neque efficitur imperdiet.</p>
<br>
<br>
<br>

</div>



<footer class="footer">
     <div class="container">
       
     </div>
   </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scroll-down.js"></script>

  </body>
</html>
