<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>St. Barnabas | George Alexander | Project 2 Portfolio</title>

    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

    <style type="text/css">
      header {
  position: relative;
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background: url(../dunedin.jpg) !important;
  background-size: cover;
  background-position-y: center;
  z-index: 1;
}

  .list-group-item.active {
    background-color: #275CAB!important;
}

.home a{
  color: #275CAB!important;
}

.main-text{
 padding-top: 50px;
}
    </style>

  </head>
  <body>
    <header id="top">
  <div class="overlay">

  </div>
  <div class="container h-100">

    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white main-text">
        <img class="background-img" src="st-barnabas.png" alt="theta">
        <h1 class="display-3"></h1>
        <p class="lead mb-0">Building a website for the Home of St. Barnabas Trust</p>
        <p><a class="btn btn-warning" target="_blank" href="http://georgealexander.co.nz/home-of-st-barnabas/" role="button">Visit Website</a>
      </div>
      <div class="down">

      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row flexbox" id="documentation">
      <div class="col-md-8 offset-md-1 lhs">
        <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item home"><a href="https://alexgt1.github.io/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">St. Barnabas</li>
  </ol>
</nav>
        <div class="section-divider" id="1">
          <h1>Time for a new project</h1>
          <p>At this point in time I'd finished working on the THETA website and was close to finishing off the Polytech BIT site as well.</p>
          <p>I got an email from Adon wondering if I would be interested in putting together a website for the Home of St Barnabas trust as there were still a few weeks remaining in the term.
          I thought it sounded like a good project as they also had content and images to provide so I would be able to get it up and running quickly.</p>

          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="2">
          <h1>Design Inspiration</h1>
          <p>Spent todays project class searching for similar sites to get an idea of how the website should be laid out. One thing that surprised me was the lack
            of up to date Retirement Home websites.
          </p>
          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="3">
          <h1>Content from Lynette</h1>
          <p>Got some images and content from lynette</p>
          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="4">
          <h1>Implementing Google map</h1>
          <p>Paragraph one</p>
          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="5">
          <h1>Owl Carousel Javascript Plugin</h1>
          <p>Paragraph one</p>
          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="6">
          <h1>Image Collections with Jekyll</h1>
          <p>In the end I recieved more than 20 images from Lynette, I used jekyll collections to add images to the Carousel</p>
          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="7">
          <h1>More Content</h1>
          <p>Adon forwarded me an email he recieved from Lynette with some additional images for the site so I spent a bit of time adding them in.
            At this point the site is more a less finished.
          </p>
          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="8">
          <h1>Combating poor image quality with RGBA and Overlays</h1>
          <p>Ran into some trouble with the hero images for the site. The images provided worked well in the carousel but when displayed at larger dimensions would lose their quality.
            As a result I decided to add a blue overlay to the images to hide some of the pixelation. Overall they turned out rather well as I was able to incoroprate the blue used in the logo with the image overlay.
          </p>
          <p>Below is the styling I used to reduce pixelation.</p>
          <script src="https://snipsave.com/embed/dmXXqGaOAmCoTqp4jM.js"></script>
          <hr>
        </div> <!-- end of section -->
      </div>
      <div class="col-md-3 offset-md-1 rhs d-sm-none d-xs-none">


        <div class="list-group d-sm-none">
          <a class="list-group-item list-group-item-action active"><i class="fas fa-info-circle"></i> Menu</a>

          <a href="#1" class="list-group-item list-group-item-action"> Section 1</a>
          <a href="#2" class="list-group-item list-group-item-action"> Section 2</a>
          <a href="#3" class="list-group-item list-group-item-action"> Section 3</a>
          <a href="#4" class="list-group-item list-group-item-action"> Section 4</a>
          <a href="#5" class="list-group-item list-group-item-action"> Section 5</a>
          <a href="#6" class="list-group-item list-group-item-action"> Section 6</a>
          <a href="#7" class="list-group-item list-group-item-action"> Section 7</a>
          <a href="#8" class="list-group-item list-group-item-action"> Combating poor image quality with RGBA and Overlays</a>


          </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
     <div class="container">
       <p class="footer-text">© 2019 George Alexander. ALL RIGHTS RESERVED.</p>
       <p><a href="#top">Back to Top <i class="fas fa-chevron-up"></i></a></p>
     </div>
   </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scroll-down.js"></script>

  </body>
</html>
