<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>St. Barnabas | George Alexander | Project 2 Portfolio</title>

    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

    <style type="text/css">
      header {
  position: relative;
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background: url(../dunedin.jpg) !important;
  background-size: cover;
  background-position-y: center;
  z-index: 1;
}

  .list-group-item.active {
    background-color: #275CAB!important;
}

.home a{
  color: #275CAB!important;
}

.main-text{
 padding-top: 50px;
}
    </style>

  </head>
  <body>
    <header id="top">
  <div class="overlay">

  </div>
  <div class="container h-100">

    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white main-text">
        <img class="background-img" src="st-barnabas.png" alt="theta">
        <h1 class="display-3"></h1>
        <p class="lead mb-0">Building a website for the Home of St. Barnabas Trust</p>
        <p><a class="btn btn-warning" target="_blank" href="http://georgealexander.co.nz/home-of-st-barnabas/" role="button">Visit Website</a>
      </div>
      <div class="down">

      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row flexbox" id="documentation">
      <div class="col-md-8 offset-md-1 lhs">
        <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item home"><a href="https://alexgt1.github.io/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">St. Barnabas</li>
  </ol>
</nav>
        <div class="section-divider" id="1">
          <h1>Time for a new project</h1>
          <p>At this point in time I'd finished working on the THETA website and was close to finishing off the Polytech BIT site as well.</p>
          <p>I got an email from Adon wondering if I would be interested in putting together a website for the Home of St Barnabas trust as there were still a few weeks remaining in the term.
          I thought it sounded like a good project as they also had content and images to provide so I would be able to get it up and running quickly.</p>

          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="2">
          <h1>Design Inspiration</h1>
          <p>Spent todays project class searching for similar sites to get an idea of how the website should be laid out. One thing that surprised me was the lack
            of up to date Retirement Home websites.
          </p>
          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="3">
          <h1>Page Hierachy and Design Components</h1>
          <p>Having now finished the home page I spent todays class working on the structure of the sub pages. </p>
          <p>I prioritised simplicity and decided to go for a two column layout. The main content of the page was to be positioned
          in the left hand column which is wider than the right and takes up the majority of the page. The right hand column would
        be used for important information such as contact detals, pricing and business hours. I thought it would be a good idea to use bootstraps card
      component for the various segments in this column to distinguish from the main content and also catch the users attention. As well as this I added
    a breadcrumb navigation to the top of the main body so that the user knew what page they were on and how they got there.</p>

    <p><b>Pictured below:</b>The general layout of information pages on the site.</p>
    <img src="designcomponents.png" alt="">
          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="4">
          <h1>Implementing Google map</h1>
          <p></p>
          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="5">
          <h1>Owl Carousel Javascript Plugin</h1>
          <p>I decided a slider/carousel would be a good feature for the homepage. Sliders are a good way of displaying a large amount of information without taking up too much space.
            This slider will be used to showcase some of the images that Lynette sent through. As a lot of these images are low quality it makes sense to use a component such as this as it will help to hide the pixelation.
          </p>
          <img src="owlslider.png" alt="">
          <p>From browsing varius sites and viewing source code Owl Carousel seemed like a good choice for a slider. As well as being popular it is fully responsive and offers touch and drag support.
          </p>
          <p>Besides getting some skewed images initially, the implimentation was fairly straight forward. All I had to do was update the number of images I'd like to be displayed for each of the dimensions.</p>
          <p><b>Pictured Below:</b> The index.js file responsible for how many images displayed
          </p>
          <br>
          <script src="https://snipsave.com/embed/Gj776rTp1bH9Ss8Jwv.js"></script>

          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="6">
          <h1>Image Collections with Jekyll</h1>
          <p>Due to the number of images I'd accumulated I decided against inserting them all using the 'img' tag and instead took a more modular approach.</p>
          <p>Having built the THETA website using Jekyll I thought I'd refer back to what I'd learnt and use collections to organise the slider images. Collections are a great way of posting groups of content that share similarities,
            this includes articles or specific information you'd like to include in a dropdown menu.</p>

            <p><b>Pictured Below:</b>The collection I put together for the slider - Great way to keep code down on the main page</p>
            <img src="stbcollection.png" alt="">

            <p><b>Pictured Below: Looping throuh the collection and outputting each image into the carousel</b></p>
              <br>
          <script src="https://snipsave.com/embed/tNAzpG1RDbXqhiLfrD.js"></script>
          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="7">
          <h1>More Content</h1>
          <p>Adon forwarded me an email he recieved from Lynette with some additional images for the site so I spent a bit of time adding them in.
            At this point the site is more a less finished so I'll spend the next few classes refining the details.
          </p>

          <img src="emailstb.png" alt="">
          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="8">
          <h1>Combating poor image quality with RGBA and Overlays</h1>
          <p>Ran into some trouble with the hero images for the site. The images provided worked well in the carousel but when displayed at larger dimensions would lose their quality.
            As a result I decided to add a blue overlay to the images to hide some of the pixelation. Overall they turned out rather well as I was able to incoroprate the blue used in the logo with the image overlay.
          </p>
          <p><b>Pictured Below:</b> the styling I used to reduce pixelation.</p>
          <br>
          <script src="https://snipsave.com/embed/dmXXqGaOAmCoTqp4jM.js"></script>
          <hr>
        </div> <!-- end of section -->
        <div class="section-divider" id="9">
          <h1>That's a Wrap</h1>
          <p></p>
            

        </div> <!-- end of section -->
      </div>
      <div class="col-md-3 offset-md-1 rhs d-sm-none d-xs-none">


        <div class="list-group d-sm-none">
          <a class="list-group-item list-group-item-action active"><i class="fas fa-info-circle"></i> Menu</a>

          <a href="#1" class="list-group-item list-group-item-action"> Time for a New Project</a>
          <a href="#2" class="list-group-item list-group-item-action"> Getting Inspired</a>
          <a href="#3" class="list-group-item list-group-item-action"> Page Hierachy and Design Components</a>
          <a href="#4" class="list-group-item list-group-item-action"> Implementing Google Map</a>
          <a href="#5" class="list-group-item list-group-item-action"> Owl Carousel JavaScript Plugin</a>
          <a href="#6" class="list-group-item list-group-item-action"> Image Collections with Jekyll</a>
          <a href="#7" class="list-group-item list-group-item-action"> More Content</a>
          <a href="#8" class="list-group-item list-group-item-action"> Combating poor image quality with RGBA and Overlays</a>
          <a href="#9" class="list-group-item list-group-item-action"> That's a Wrap</a>


          </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
     <div class="container">
       <p class="footer-text">© 2019 George Alexander. ALL RIGHTS RESERVED.</p>
       <p><a href="#top">Back to Top <i class="fas fa-chevron-up"></i></a></p>
     </div>
   </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scroll-down.js"></script>

  </body>
</html>
